li {
    list-style-type: none;
}

.service_canvas {
    height: inherit;
    min-height: 350px;
    border: 1px solid #DDD;
    // padding-left: 0!important;
    padding-left: 15%;
    padding-right: 15%;
    .service_logo {
        width: 100%;
        height: 70px;
        // padding-right: 10px;
    }
    ;
    .submenu_title {
        margin: 15px 0px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        &:hover {
            color: rgb(68, 125, 241);
            cursor: pointer;
        }
    }
    div {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.service_parameter {
    overflow: scroll;
}

.service_menu_shadow {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
}

.service_menu {
    width: 100%;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding-left: 0px;
    background-color: white;
    overflow: hidden;
    .service_menu_title {
        @extend .service_menu_title_nromal;
        padding: 5px 5px;
        border-top: 1px solid #DDD;
        &:focus {
            outline: none;
            border: 0;
        }
        &:hover {
            @extend .service_menu_title_active;
            cursor: pointer;
        }
    }
    .service_menu_title_nromal {
        color: black;
        background-color: white;
    }
    .service_menu_title_active {
        color: rgb(255, 255, 255);
        background-color: #209e91
    }
    .service_menu_icon_right {
        float: right;
    }
    .submenu_title {
        margin: 15px 0px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        &:hover {
            color: rgb(68, 125, 241);
            cursor: pointer;
        }
    }
    .service_logo {
        width: 40px;
        height: 30px;
        // padding-right: 10px;
    }
}

div.isSelected {
    border-style: solid!important;
    border-color: blue;
    border-width: 3px;
    margin-left: 7px!important;
    margin-right: 7px!important;
}

.service_logo {
    width: 100%;
    // width: 80px;
    height: 70px;
    // padding-right: 10px;
}

.advanced-params {
    box-shadow: 0 0 0 0 !important;
    .panel-heading span {
        color: #333 !important;
    }
    .panel-title {
        font-size: 14px !important;
    }
}

.isLoadingContainer {
    position: absolute;
    display: flex;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.1;
    z-index: 97;
}

.isLoading {
    margin: auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #209e91;
    border-bottom: 16px solid #209e91;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.mscp-card {
    width: 25%;
    height: 10%;
    margin: 1%;
    float: left;
}

.mscp-card:hover {
    width: 25%;
    height: 10%;
    margin: 1%;
    float: left;
    border: lightblue solid thick;
}

.mscp-card img {
    // width: 100%;
    // display: block;
    border-bottom: solid thin grey;
}

div.controlPanel {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 24px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
}

.servicebuttonleft {
    margin-left: 5px;
}

.imageMenuList {
    height: 800px;
    width: 98%;
    overflow-y: scroll;
    margin-left: 0.5rem;
    margin-right: 0!important
}

.lgCanvas {
    height: 2000px
}

.mdCanvas {
    height: 1500px
}

.smCanvas {
    height: 1000px
}