.buttonlistright {
  float: right;
}

.selectleft {
  padding-left: 0px;
}

.selectlabel {
  margin-bottom: 5px;
}

.userAvatar {
  width: 45px;
  height: 45px;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 50%;
}

.searchuser {
  overflow-x: hidden;
  overflow-y: auto;
}

.resultborder {
  min-height: 400px;
  height: 100%;
}

.noresult {
  margin: 20px 20px;
  font-size: 15px;
}

.resulttableline {
  height: 49px;
}

.resultselect {
  margin-top: 10px;
}

.resultbutton {
  margin-top: 5px;
}

.button-wide {
  width: 120px;
}

.button-large {
  width: 140px;
}

.fullwide {
  width: auto;
}

.formline {
  margin-top: 15px;
}